<div class="container">
  <h1>RainyPlay</h1>
  <a href='https://accounts.spotify.com/authorize/?client_id=<%= @spotify_api %>&response_type=code&redirect_uri=http://localhost:9393/callback&scope=playlist-modify-public'>Spotify</a>
  <p>Hello, world!</p>
  <%= @weather %>
  <% if @music %>
  <a href='<%= @music %>'>Suggested Playlist for weather! </a>
  <%= @site %>
  <% end %>
  <form action='/weather' method='post'>
  <input type='text' name='location' placeholder='location'>

  <input type='submit' value='submit'>
</form>
<a href='https://api.spotify.com/v1/albums/4aawyAB9vmqN3uQ7FjRGTy'>Album</a>
  </div>
